		/* ==========================================
			Bootstrap Overwrites
		   ========================================== */		
		body {
		    background:  #f2f2f2;
		    color: #444444;
		    font-family: "Open Sans",sans-serif;
		    font-size: 14px;
		    line-height: 1.42857;
		}

		h1, h2, h3, h4, h5, h6,
		.h1, .h2, .h3, .h4, .h5, .h6 {
		  font-family: "Open Sans", sans-serif;
		  color: #999999;
		  line-height: 1.1;
		  padding: 2px 0;
		  margin-top: 10px;
		  margin-bottom: 20px;
		}
			h3.default {
				background: #f8f8f8;
				padding: 5px 10px 5px 10px;
				color: #2c3e50;
				border-left: 5px solid #474949;
				font-size: 20px;
				text-transform: uppercase;
			}
			h3.primary {
				background: #f8f8f8;
				padding: 5px 10px 5px 10px;
				color: #2c3e50;
				border-left: 5px solid #336699;
				font-size: 20px;
				text-transform: uppercase;
			}
			h3.info {
				background: #f8f8f8;
				padding: 5px 10px 5px 10px;
				color: #2c3e50;
				border-left: 5px solid #5bc0de;
				font-size: 20px;
				text-transform: uppercase;
			}
			h3.success {
				background: #f8f8f8;
				padding: 5px 10px 5px 10px;
				color: #2c3e50;
				border-left: 5px solid #5cb85c;
				font-size: 20px;
				text-transform: uppercase;
			}
			h3.warning {
				background: #f8f8f8;
				padding: 5px 10px 5px 10px;
				color: #2c3e50;
				border-left: 5px solid #f0ad4e;
				font-size: 20px;
				text-transform: uppercase;
			}
			h3.danger {
				background: #f8f8f8;
				padding: 5px 10px 5px 10px;
				color: #2c3e50;
				border-left: 5px solid #d9534f;
				font-size: 20px;
				text-transform: uppercase;
			}

			h5 { margin-top: 0; }
			h4.default, h5.default {
				background: #f8f8f8;
				padding: 3px 8px 3px 10px;
				color: #2c3e50;
				border-left: 3px solid #474949;
				font-size: 18px;
			}
			h4.primary, h5.primary {
				background: #f8f8f8;
				padding: 3px 8px 3px 10px;
				color: #2c3e50;
				border-left: 3px solid #428bca;
				font-size: 18px;
			}
			h4.info, h5.info {
				background: #f8f8f8;
				padding: 3px 8px 3px 10px;
				color: #2c3e50;
				border-left: 3px solid #5bc0de;
				font-size: 18px;
			}
			h4.success, h5.success {
				background: #f8f8f8;
				padding: 3px 8px 3px 10px;
				color: #2c3e50;
				border-left: 3px solid #5cb85c;
				font-size: 18px;
			}
			h4.warning, h5.warning {
				background: #f8f8f8;
				padding: 3px 8px 3px 10px;
				color: #2c3e50;
				border-left: 3px solid #f0ad4e;
				font-size: 18px;
			}
			h4.danger, h5.danger {
				background: #f8f8f8;
				padding: 3px 8px 3px 10px;
				color: #2c3e50;
				border-left: 3px solid #d9534f;
				font-size: 18px;
			}

		p { margin: 10px 0; }

		.lead { 
		//	margin-bottom: 0; 
			margin-bottom: 20px;
			font-size: 16.099999999999998px;
			font-weight: 200;
			 line-height: 1.4;
			}
		.accountLevel { color: #999; font-size: 70%; }
		.welcomeMsg { margin-top: 0; }


		/* ==========================================
			Container/Content
		   ========================================== */
		.container {
			max-width: 1250px;
		    margin-left: auto;
		    margin-right: auto;
		    padding-left: 0;
		    padding-right: 0;
		}

		.container .content {
		    padding: 30px;
			border-radius: 0;
			background-color: #ffffff;
		    color: #606060;
		    font-size: 1.2em;
		    font-weight: 200;
		    line-height: 1.4;
		    margin-bottom: 30px;
		}
		
		
		
		.container .content_deposits {
		    padding: 30px 30px 0 0;
			border-radius: 0;
			background-color: #ffffff;
		    color: #606060;
		    font-size: 1.2em;
		    font-weight: 200;
		    line-height: 1.4;
		    margin-bottom: 30px;
		}
		/* ==========================================
			Grid
		   ========================================== */
		@media (max-width: 1000px) {
			.col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6,
			.col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12,
			.col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6,
			.col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12,
			.col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6,
			.col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12,
			.col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6,
			.col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12 {
				clear: both;
			}
		}


		/* ==========================================
			Forms
		   ========================================== */
		.form-group-spec {
		  margin-bottom: 15px;
		  font-size:0.85em;
		}
		.form-control, input.floor, input.door, input.area, input.area_ratio {
		  display: block;
		  width: 100%;
		  height: 34px;
		  padding: 6px 12px !important;
		  font-size: 14px;
		  line-height: 1.428571429;
		  color: #555555;
		  vertical-align: middle;
		  background-color: #ffffff;
		  border: 1px solid #cccccc;
		  border-radius: 0;
		  -webkit-box-shadow: none;
		          box-shadow: none;
		  -webkit-transition: none;
		          transition: none;
		}
			.form-control:focus {
			  border-color: #66afe9;
			  outline: 0;
			  -webkit-box-shadow: none;
					  box-shadow: none;
			}

		.form-group-modal { margin-bottom: 0; }

		input:-webkit-autofill {
		    -webkit-box-shadow: 0 0 0px 1000px white inset;
		}

		.input-group-addon {
		  font-size: 12px;
		  font-weight: normal;
		  line-height: 1;
		  text-align: center;
		  background-color: #fff;
		  border: 1px solid #cccccc;
		  border-radius: 0;
		}
			.input-group-addon.input-sm {
			  padding: 5px 10px;
			  font-size: 12px;
			  border-radius: 0;
			}
			.input-group-addon.input-lg {
			  padding: 10px 16px;
			  font-size: 18px;
			  border-radius: 0;
			}
			.input-group-addon { vertical-align: none; }

		label {
		    display: inline-block;
		    font-weight: normal;
		    margin-bottom: 5px;
                    }

		.fieldIns {
		    color: #999999;
		    float: right;
		    font-size: 13px;
		    margin-right: 0.25em;
		}

		.help-block {
		  display: block;
		  margin-top: 5px;
		  margin-bottom: 20px;
		  color: #999999;
		  font-size: 13px;
		}
		
		.help-block-pass {
		  display: block;
		  margin-top: 5px;
		  margin-bottom: 20px;
		  color: #999999;
		  font-size: 0.9em;
		  text-align:left;
		}

		.highlightField {
		    border-color: #C09853;
		    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
		}
		
		/* ==========================================
			Buttons
		   ========================================== */
		.btn {
		  display: inline-block;
		  padding: 6px 12px;
		  margin-bottom: 0;
		  font-size: 14px;
		  font-weight: normal;
		  line-height: 1.428571429;
		  text-align: center;
		  white-space: nowrap;
		  vertical-align: middle;
		  cursor: pointer;
		  border: 1px solid transparent;
		  border-radius: 0;
		  -webkit-user-select: none;
		     -moz-user-select: none;
		      -ms-user-select: none;
		       -o-user-select: none;
		          user-select: none;
		}

		.btn-icon i { margin-right: 6px; }
		.btn-icon-alt i { margin-left: 6px; }

		.btn-link:hover, .btn-link:focus {
		  color: #2a6496;
		  text-decoration: none;
		  background-color: transparent;
		}

		.btn-default {
		  color: #2581bc;
		  background-color: #fafafa;
		  border-color: #e7e7e7;
		}
			.btn-default:hover, .btn-default:focus, .btn-default:active, .btn-default.active, .open .dropdown-toggle.btn-default {
			  color: #333333;
			  background-color: #ebebeb;
			  border-color: #adadad;
			}
			.btn-default:active, .btn-default.active, .open .dropdown-toggle.btn-default {
			  background-image: none;
			}

		.btn-primary {
		  color: #ffffff;
		  background-color: #428bca;
		  border-color: #357ebd;
		}
			.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open .dropdown-toggle.btn-primary {
			  color: #ffffff;
			  background-color: #3276b1;
			  border-color: #285e8e;
			}
			.btn-primary:active, .btn-primary.active, .open .dropdown-toggle.btn-primary {
			  background-image: none;
			}

		.btn-warning {
		  color: #ffffff;
		  background-color: #f0ad4e;
		  border-color: #eea236;
		}
			.btn-warning:hover, .btn-warning:focus, .btn-warning:active, .btn-warning.active, .open .dropdown-toggle.btn-warning {
			  color: #ffffff;
			  background-color: #ed9c28;
			  border-color: #d58512;
			}
			.btn-warning:active, .btn-warning.active, .open .dropdown-toggle.btn-warning {
			  background-image: none;
			}

		.btn-danger {
		  color: #ffffff;
		  background-color: #d9534f;
		  border-color: #d43f3a;
		}
			.btn-danger:hover, .btn-danger:focus, .btn-danger:active, .btn-danger.active, .open .dropdown-toggle.btn-danger {
			  color: #ffffff;
			  background-color: #d2322d;
			  border-color: #ac2925;
			}
			.btn-danger:active, .btn-danger.active, .open .dropdown-toggle.btn-danger {
			  background-image: none;
			}

		.btn-success {
		  color: #ffffff;
		  background-color: #336699;
		  border-color: #3e5974;
		}
			.btn-success:hover, .btn-success:focus, .btn-success:active, .btn-success.active, .open .dropdown-toggle.btn-success {
			  color: #ffffff;
			  background-color: #3870a8;
			  border-color: #7696b6;
			}
			.btn-success:active, .btn-success.active, .open .dropdown-toggle.btn-success {
			  background-image: none;
			}

		.btn-info {
		  color: #ffffff;
		  background-color: #5bc0de;
		  border-color: #46b8da;
		}
			.btn-info:hover, .btn-info:focus, .btn-info:active, .btn-info.active, .open .dropdown-toggle.btn-info {
			  color: #ffffff;
			  background-color: #39b3d7;
			  border-color: #269abc;
			}
			.btn-info:active, .btn-info.active, .open .dropdown-toggle.btn-info {
			  background-image: none;
			}

		.btn-link {
		    border-radius: 0 0 0 0;
		    color: #2581bc;
		    cursor: pointer;
			font-size: 13px;
		    font-weight: normal;
			padding: 0;
		}
			.btn-link:hover, .btn-link:focus {
			  color: #555555;
			  text-decoration: none;
			  background-color: transparent;
			}

		.btn-lg {
		  padding: 10px 16px;
		  font-size: 18px;
		  line-height: 1.33;
		  border-radius: 0;
		}

		.btn-sm, .btn-xs, .btn-form {
		  padding: 5px 10px;
		  font-size: 12px;
		  line-height: 1.5;
		  border-radius: 0;
		}
			.btn-xs { padding: 1px 5px; 	}
			.btn-form {
				padding: 0;
				color: #d9534f;
				background-color: transparent;
			}

		.btn-dd .caret { margin-left: 6px; }

		.btn-back {
			margin: 0 0 20px 20px;
		}

		/* ==========================================
			Labels
		   ========================================== */
		.label {
		  display: inline;
		  padding: .2em .6em .3em;
		  font-size: 75%;
		  font-weight: normal;
		  line-height: 1;
		  color: #ffffff;
		  text-align: center;
		  white-space: nowrap;
		  vertical-align: baseline;
		  border-radius: 0;
		}

		/* ==========================================
			Modals
		   ========================================== */
		.modal-content {
		  position: relative;
		  background-color: #ffffff;
		  border: 1px solid #999999;
		  border: 1px solid rgba(0, 0, 0, 0.2);
		  border-radius: 6px;
		  outline: none;
		  -webkit-box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
		          box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
		  background-clip: padding-box;
		}
		.modal-title {
		    line-height: 1.42857;
		    margin: 0;
			border: 0;
			text-transform: none;
			letter-spacing: .05em;
		}
		.modal-header .close { margin-top: 0; }
		.modal-header.picture {
		    border-bottom: 0;
		    min-height: 16.4286px;
		    padding: 15px;
		}

		.modal-footer {
		  padding: 19px 20px 20px;
		  margin-top: 0;
		  text-align: right;
		  border-top: 1px solid #e5e5e5;
		}

		.modal-body .avatar { max-height: 85px; }

		.modal-primary {
			background-color: #336699;
			border-color: #357ebd;
		}
			.modal-primary h4 {
				border-bottom: 0;
				text-transform: uppercase;
				color: #ffffff;
			}
		.modal-warning {
			background-color: #f0ad4e;
			border-color: #eea236;
		}
			.modal-warning h4 {
				border-bottom: 0;
				text-transform: uppercase;
				color: #ffffff;
			}
		.modal-danger {
			background-color: #d9534f;
			border-color: #d43f3a;
		}
			.modal-danger h4 {
				border-bottom: 0;
				text-transform: uppercase;
				color: #ffffff;
			}
		.modal-success {
			background-color: #5cb85c;
			border-color: #4cae4c;
		}
			.modal-success h4 {
				border-bottom: 0;
				text-transform: uppercase;
				color: #ffffff;
			}
		.modal-info {
			background-color: #5bc0de;
			border-color: #46b8da;
		}
			.modal-info h4 {
				border-bottom: 0;
				text-transform: uppercase;
				color: #ffffff;
			}

		/* ==========================================
			Panels
		   ========================================== */
		.panel {
		    background-color: #ffffff;
		    border: 1px solid transparent;
		    border-radius: 0;
		    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
		    margin-bottom: 20px;
		}
		.panel-heading {
		  padding: 10px 15px;
		  border-bottom: 1px solid transparent;
		  border-top-right-radius: 0;
		  border-top-left-radius: 0;
		  text-transform: uppercase;
		}
		.panel-title {
		    font-size: 16px;
		    margin-bottom: 0;
		    margin-top: 0;
			border: 0;
			text-transform: uppercase;
		}
			.panel-title i { margin-right: 4px; }
			.panel-title span { font-size: 12px; }

		.panel-footer {
		  padding: 10px 15px;
		  background-color: #f5f5f5;
		  border-top: 1px solid #dddddd;
		  border-bottom-right-radius: 0;
		  border-bottom-left-radius: 0;
		}
		.panel-group .panel {
		  margin-bottom: 0;
		  overflow: hidden;
		  border-radius: 0;
		}

		.panel-default {
		  border-color: #dddddd;
		}
			.panel-default > .panel-heading {
			  color: #444444;
			  background-color: #f5f5f5;
			  border-color: #dddddd;
			}
			.panel-default > .panel-heading > .panel-title {
			  color: #444444;
			}
			.panel-default > .panel-heading + .panel-collapse .panel-body {
			  border-top-color: #dddddd;
			}
			.panel-default > .panel-footer + .panel-collapse .panel-body {
			  border-bottom-color: #dddddd;
			}

		.panel-primary {
		  border-color: #336699;
		}
			.panel-primary > .panel-heading {
			  color: #ffffff;
			  background-color: #428bca;
			  border-color: #357ebd;
			}
			.panel-primary > .panel-heading > .panel-title {
			  color: #ffffff;
			}
			.panel-primary > .panel-heading + .panel-collapse .panel-body {
			  border-top-color: #357ebd;
			}
			.panel-primary > .panel-footer + .panel-collapse .panel-body {
			  border-bottom-color: #357ebd;
			}

		.panel-success {
		  border-color: #4cae4c;
		}
			.panel-success > .panel-heading {
			  color: #ffffff;
			  background-color: #5cb85c;
			  border-color: #4cae4c;
			}
			.panel-success > .panel-heading > .panel-title {
			  color: #ffffff;
			}
			.panel-success > .panel-heading + .panel-collapse .panel-body {
			  border-top-color: #4cae4c;
			}
			.panel-success > .panel-footer + .panel-collapse .panel-body {
			  border-bottom-color: #4cae4c;
			}

		.panel-warning {
		  border-color: #eea236;
		}
			.panel-warning > .panel-heading {
			  color: #ffffff;
			  background-color: #f0ad4e;
			  border-color: #eea236;
			}
			.panel-warning > .panel-heading > .panel-title {
			  color: #ffffff;
			}
			.panel-warning > .panel-heading + .panel-collapse .panel-body {
			  border-top-color: #eea236;
			}
			.panel-warning > .panel-footer + .panel-collapse .panel-body {
			  border-bottom-color: #eea236;
			}

		.panel-danger {
		  border-color: #d43f3a;
		}
			.panel-danger > .panel-heading {
			  color: #ffffff;
			  background-color: #d9534f;
			  border-color: #d43f3a;
			}
			.panel-danger > .panel-heading > .panel-title {
			  color: #ffffff;
			}
			.panel-danger > .panel-heading + .panel-collapse .panel-body {
			  border-top-color: #d43f3a;
			}
			.panel-danger > .panel-footer + .panel-collapse .panel-body {
			  border-bottom-color: #d43f3a;
			}

		.panel-info {
		  border-color: #336699;
		}
			.panel-info > .panel-heading {
			  color: #ffffff;
			  background-color: #336699;
			  border-color: #19687f;
			}
			.panel-info > .panel-heading > .panel-title {
			  color: #ffffff;
			}
			.panel-info > .panel-heading + .panel-collapse .panel-body {
			  border-top-color: #46b8da;
			}
			.panel-info > .panel-footer + .panel-collapse .panel-body {
			  border-bottom-color: #46b8da;
			}

		/* ==========================================
			List Groups
		   ========================================== */
		.list-group {
		    margin-bottom: 20px;
		    padding-left: 0;
		}
		.list-group-item {
		    background-color: #ffffff;
		    border: 1px solid #dddddd;
		    display: block;
		    margin-bottom: -1px;
		    padding: 10px 15px;
		    position: relative;
		}
		.list-group-item:first-child {
		    border-top-left-radius: 0;
		    border-top-right-radius: 0;
		}
		.list-group-item:last-child {
		    border-bottom-left-radius: 0;
		    border-bottom-right-radius: 0;
		    margin-bottom: 0;
		}

		.list-group-item.default, .list-group-item.default:hover, .list-group-item.default:focus {
		  z-index: 2;
		  color: #444444;
		  background-color: #ffffff;
		  border-color: #cccccc;
		}
		.list-group-item.primary, .list-group-item.primary:hover, .list-group-item.primary:focus {
		  z-index: 2;
		  color: #ffffff;
		  background-color: #428bca;
		  border-color: #428bca;
		}
		.list-group-item.info, .list-group-item.info:hover, .list-group-item.info:focus {
		  z-index: 2;
		  color: #ffffff;
		  background-color: #5bc0de;
		  border-color: #5bc0de;
		}
		.list-group-item.success, .list-group-item.success:hover, .list-group-item.success:focus {
		  z-index: 2;
		  color: #ffffff;
		  background-color: #5cb85c;
		  border-color: #5cb85c;
		}
		.list-group-item.warning, .list-group-item.warning:hover, .list-group-item.warning:focus {
		  z-index: 2;
		  color: #ffffff;
		  background-color: #f0ad4e;
		  border-color: #f0ad4e;
		}
		.list-group-item.danger, .list-group-item.danger:hover, .list-group-item.danger:focus {
		  z-index: 2;
		  color: #ffffff;
		  background-color: #d9534f;
		  border-color: #d9534f;
		}

		/* ==========================================
			Wells
		   ========================================== */
		.well {
		  min-height: 20px;
		  padding: 19px;
		  margin-bottom: 20px;
		  background-color: #f5f5f5;
		  border: 1px solid #e3e3e3;
		  border-radius: 0;
		  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
		          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
		}
			.well-lg {
			  padding: 24px;
			  border-radius: 0;
			}
			.well-sm {
			  padding: 9px;
			  border-radius: 0;
			}
		
		/*
		 * Navigataur: A pure CSS responsive navigation menu
		 * Author: Mike King (@micjamking)
		 */

		/*
		 	Notes:

		 	- Media queries should be edited in both style sections if you require 
			  a different breakpoint for your navigation.

			- Toggle class & menu anchor tags in list items have box-sizing: border-box 
			  style property to allow padding inside the container without conflicting with layout.	

		*/


		/*--------------------------------
		 Functional Styles (Required)
		---------------------------------*/

		.header { position: relative; }
		#toggle, .toggle { display: none; }
		.menu > li { list-style: none; float:left;	}

		/* Nicolas Gallagher micro clearfix */
		.clearfix:before, .clearfix:after { display: table; content: ""; }
		.clearfix:after { clear: both; }

		@media only screen and (max-width: 768px){
			.menu { display: none; opacity: 0; width: 100%; position: absolute; right: 0; }
			.menu > li { display: block; width: 100%; margin: 0; }
			.menu > li > a { display: block; width: 100%; text-decoration: none; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }
			.toggle { display: block; position: relative; cursor: pointer; -webkit-touch-callout: none; -webkit-user-select: none; user-select: none; }
			#toggle:checked + div .menu { display: block; opacity: 1;}
		}


		/*--------------------------------
		 Presentation Styles (Editable)
		---------------------------------*/
		.header{
			min-height: 100px;
			height: 100%;
			padding: 0 20px;
			background: #FFFFFF;
		}

		.header > h1 {
			float: left;
			padding: 30px 0 0;		
			font-style: italic;
			font-family: "Open Sans", sans-serif;
			font-size: 28px;
			color: #DFDFDF;
		}

		.nav{ 
			display: block; 
			float: left;
		//	margin: 5px 0 5px 0; 
		}

		.nav, .menu, .menu > li, .menu > li > a{ 
			height: 100%; 
		}

		.menu > li > a{
			display: block;
			padding: 42px 20px;
			text-decoration: none;
			font-weight: normal;
			font-size: 16px;
			line-height: 1;
			-webkit-box-sizing: border-box;
			-moz-box-sizing: border-box; 
			box-sizing: border-box;
			-webkit-transition: all 0.25s linear;
			-moz-transition: all 0.25s linear;
			-o-transition: all 0.25s linear;
			transition: all 0.25s linear;
		}

		.menu > li > a:hover, .menu > li > a:focus{
			background: #F2F2F2;
			box-shadow: inset 0px 5px #2581bc;
			color: #2581bc;
			padding: 50px 20px 34px;
		}

		.toggle{ 
			z-index: 2; 
		}

		@media only screen and (max-width: 768px){
			.menu{
				background: #FFFFFF;
				border-top: 1px solid #336699;
			}

			.menu, .menu > li, .menu > li > a{
				height: auto;
				padding-right: 15px;
			//	width: 340px;
			  padding-left: 15px;
			  background: #F2F2F2;
			  overflow-x: visible;
			  border-top: 1px solid transparent;
			  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1);
			  -webkit-overflow-scrolling: touch;
			}

			.menu > li > a{
				padding: 15px 15px;
			}

			.menu > li > a:hover, .menu > li > a:focus{
				background: #F2F2F2;
				box-shadow: inset 5px 0px #2581bc;
				padding: 15px 15px 15px 25px;
			}

			.toggle:after {
				content: attr(data-open);
				display: block;
				width: 200px;
				margin: 33px 0;
				padding: 10px 50px;
				background: #2581bc;
				-webkit-border-radius: 2px;
				border-radius: 2px;
				text-align: center;
				font-size: 12px;
				color: #FFFFFF;
				-webkit-transition: all 0.5s linear;
				-moz-transition: all 0.5s linear;
				-o-transition: all 0.5s linear;
				transition: all 0.5s linear;
				-webkit-box-sizing: border-box;
				-moz-box-sizing: border-box;
				box-sizing: border-box; 
			}

			.toggle:hover:after{
				background: #45ABD6;
			}

			#toggle:checked + div .toggle:after{
				content: attr(data-close);
			}
		}

		@media only screen and (max-width: 479px){
			.header > h1 { 
				text-align: center;
			}
			.header > h1, .nav, .toggle:after{ 
				float: none; 
			}
			.toggle:after { 
				text-align: center; width: 100%; 
			}
		}
			
/*
2 oszlopos formok
*/
#contactform{
width: 100%;
font-size: 14px; /* Primary font size of form. Contained elements' font size are all relative to this setting */
}

#contactform input, #contactform textarea{
//width: 98%;
width: 48%;
//border-radius: 5px;
border: 1px solid #336699;
font: normal 1.1em auto; /* 24px, or 16px x 1.5 */
padding: 0.4166666666666667em; /* 10px, or 24px x 0.4166666666666667 */
box-shadow: 0 0 1px #336699 inset;
height: 1.7em;
-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
box-sizing: border-box;
}

#contactform textarea{
resize:vertical; /* allow vertical resize of textarea */
height: 200px;
}


#contactform input:focus, #contactform textarea:focus{
box-shadow: 0 0 2px #336699 inset;
}


#contactform input[type="radio"], #contactform input[type="checkbox"]{
padding: 0;
width: auto;
height: auto;
border-radius: 0;
}

#contactform select{
width: 80%;
font-size: 1.5em;
border: 2px solid #eee;
}

#contactform .formcolumn{ /* column div inside form */
width: 49%;
float: left;
}

#contactform .formcolumn:first-of-type{
margin-right: 2%; /* 2% margin after first column */
}

#contactform .formcolumn label, #contactform .formcolumn fieldset{
font: bold 1.1em "Open Sans",sans-serif; /* font size is 12.8px, or 16 x 0.8 */
//text-transform: uppercase;
display: block;
margin-top: 1em;
margin-bottom: 3px;
}

#contactform fieldset{
width: 98%;
-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
box-sizing: border-box;
}

#contactform .formcolumn label:first-child, #contactform .formcolumn fieldset:first-child{
margin-top: 0; /* first label or fieldset within each column should not no top margin */
}

#contactform fieldset ul{
list-type: none;
margin: 0;
padding: 0;
}

#contactform fieldset ul li{
display: inline-block;
margin-bottom: 5px;
margin-right: 1em;
}

#contactform div.buttons{
clear: both;
text-align: left;
padding: 30px 0 15px 0;
}

#contactform input.button{
margin-top: 1.5EM;
width: 50%;
box-shadow: 0 0 10px gray;
text-transform: uppercase;
cursor: pointer;
min-width: 100px;
max-width: 600px;
color: white;
font-weight: bold;
letter-spacing: 7px;
text-shadow: 0 -2px 1px #8a8a8a;
background: rgb(169,3,41);
background: -moz-linear-gradient(top,  rgba(169,3,41,1) 0%, rgba(143,2,34,1) 44%, rgba(109,0,25,1) 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(169,3,41,1)), color-stop(44%,rgba(143,2,34,1)), color-stop(100%,rgba(109,0,25,1)));
background: -webkit-linear-gradient(top,  rgba(169,3,41,1) 0%,rgba(143,2,34,1) 44%,rgba(109,0,25,1) 100%);
background: -o-linear-gradient(top,  rgba(169,3,41,1) 0%,rgba(143,2,34,1) 44%,rgba(109,0,25,1) 100%);
background: -ms-linear-gradient(top,  rgba(169,3,41,1) 0%,rgba(143,2,34,1) 44%,rgba(109,0,25,1) 100%);
background: linear-gradient(to bottom,  rgba(169,3,41,1) 0%,rgba(143,2,34,1) 44%,rgba(109,0,25,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a90329', endColorstr='#6d0019',GradientType=0 );
}

#contactform input.button:active{
text-shadow: 0 0 1px #8a8a8a;
background: rgb(109,0,25);
background: -moz-linear-gradient(top,  rgba(109,0,25,1) 0%, rgba(143,2,34,1) 56%, rgba(169,3,41,1) 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(109,0,25,1)), color-stop(56%,rgba(143,2,34,1)), color-stop(100%,rgba(169,3,41,1)));
background: -webkit-linear-gradient(top,  rgba(109,0,25,1) 0%,rgba(143,2,34,1) 56%,rgba(169,3,41,1) 100%);
background: -o-linear-gradient(top,  rgba(109,0,25,1) 0%,rgba(143,2,34,1) 56%,rgba(169,3,41,1) 100%);
background: -ms-linear-gradient(top,  rgba(109,0,25,1) 0%,rgba(143,2,34,1) 56%,rgba(169,3,41,1) 100%);
background: linear-gradient(to bottom,  rgba(109,0,25,1) 0%,rgba(143,2,34,1) 56%,rgba(169,3,41,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6d0019', endColorstr='#a90329',GradientType=0 );
}

@media screen and (max-width: 480px){ /* responsive form settings, when window width is 480px or less */

    #contactform{
	font-size: 14px; /* decrease form font size */
	}

	#contactform .formcolumn{
	width: 100%;
	float: none;
	}
	
	#contactform .formcolumn:first-of-type{
	margin-right: 0; /* remove right margin from first form column */
	}

	#contactform .formcolumn:nth-of-type(2){
	padding-top: 2em; /* add padding to top of 2nd form column, so there is a gap between the 1st and 2nd column */
	}

	#contactform select{
	width: 98%;
	}

}

.nav {
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}

.nav:before,
.nav:after {
  display: table;
  content: " ";
}

.nav:after {
  clear: both;
}

.nav:before,
.nav:after {
  display: table;
  content: " ";
}

.nav:after {
  clear: both;
}

.nav > li {
  position: relative;
  display: block;
}

.nav > li > a {
  position: relative;
  display: block;
  padding: 10px 15px;
}

.nav > li > a:hover,
.nav > li > a:focus {
  text-decoration: none;
  background-color: #eeeeee;
}

.nav > li.disabled > a {
  color: #999999;
}

.nav > li.disabled > a:hover,
.nav > li.disabled > a:focus {
  color: #999999;
  text-decoration: none;
  cursor: not-allowed;
  background-color: transparent;
}

.nav .open > a,
.nav .open > a:hover,
.nav .open > a:focus {
  background-color: #eeeeee;
  border-color: #428bca;
}

.nav .nav-divider {
  height: 1px;
  margin: 9px 0;
  overflow: hidden;
  background-color: #e5e5e5;
}

.nav > li > a > img {
  max-width: none;
}

.nav-tabs {
  border-bottom: 1px solid #dddddd;
}

.nav-tabs > li {
  float: left;
  margin-bottom: -1px;
}

.nav-tabs > li > a {
  margin-right: 2px;
  line-height: 1.428571429;
  border: 1px solid transparent;
  border-radius: 4px 4px 0 0;
}

.nav-tabs > li > a:hover {
  border-color: #eeeeee #eeeeee #dddddd;
}

.nav-tabs > li.active > a,
.nav-tabs > li.active > a:hover,
.nav-tabs > li.active > a:focus {
  color: #555555;
  cursor: default;
  background-color: #ffffff;
  border: 1px solid #dddddd;
  border-bottom-color: transparent;
}

.nav-tabs.nav-justified {
  width: 100%;
  border-bottom: 0;
}

.nav-tabs.nav-justified > li {
  float: none;
}

.nav-tabs.nav-justified > li > a {
  text-align: center;
}

@media (min-width: 768px) {
  .nav-tabs.nav-justified > li {
    display: table-cell;
    width: 1%;
  }
}

.nav-tabs.nav-justified > li > a {
  margin-right: 0;
  border-bottom: 1px solid #dddddd;
}

.nav-tabs.nav-justified > .active > a {
  border-bottom-color: #ffffff;
}

.nav-pills > li {
  float: left;
}

.nav-pills > li > a {
  border-radius: 5px;
}

.nav-pills > li + li {
  margin-left: 2px;
}

.nav-pills > li.active > a,
.nav-pills > li.active > a:hover,
.nav-pills > li.active > a:focus {
  color: #ffffff;
  background-color: #428bca;
}

.nav-stacked > li {
  float: none;
}

.nav-stacked > li + li {
  margin-top: 2px;
  margin-left: 0;
}

.nav-justified {
  width: 100%;
}

.nav-justified > li {
  float: none;
}

.nav-justified > li > a {
  text-align: center;
}

@media (min-width: 768px) {
  .nav-justified > li {
    display: table-cell;
    width: 1%;
  }
}

.nav-tabs-justified {
  border-bottom: 0;
}

.nav-tabs-justified > li > a {
  margin-right: 0;
  border-bottom: 1px solid #dddddd;
}

.nav-tabs-justified > .active > a {
  border-bottom-color: #ffffff;
}

.tabbable:before,
.tabbable:after {
  display: table;
  content: " ";
}

.tabbable:after {
  clear: both;
}

.tabbable:before,
.tabbable:after {
  display: table;
  content: " ";
}

.tabbable:after {
  clear: both;
}

.tab-content > .tab-pane,
.pill-content > .pill-pane {
  display: none;
}

.tab-content > .active,
.pill-content > .active {
  display: block;
}

.nav .caret {
  border-top-color: #428bca;
  border-bottom-color: #428bca;
}

.nav a:hover .caret {
  border-top-color: #2a6496;
  border-bottom-color: #2a6496;
}

.nav-tabs .dropdown-menu {
  margin-top: -1px;
  border-top-right-radius: 0;
  border-top-left-radius: 0;
}

.menu {
  position: relative;
  z-index: 1000;
  min-height: 50px;
  margin-bottom: 20px;
  border: 1px solid transparent;
}

.menu:before,
.menu:after {
  display: table;
  content: " ";
}

.menu:after {
  clear: both;
}

.menu:before,
.menu:after {
  display: table;
  content: " ";
}

.menu:after {
  clear: both;
}

@media (min-width: 768px) {
  .menu {
    border-radius: 4px;
  }
}

.menu-header:before,
.menu-header:after {
  display: table;
  content: " ";
}

.menu-header:after {
  clear: both;
}

.menu-header:before,
.menu-header:after {
  display: table;
  content: " ";
}

.menu-header:after {
  clear: both;
}

@media (min-width: 768px) {
  .menu-header {
    float: left;
  }
}

.menu-collapse {
  max-height: 340px;
  padding-right: 15px;
  padding-left: 15px;
  overflow-x: visible;
  border-top: 1px solid transparent;
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1);
  -webkit-overflow-scrolling: touch;
}

.menu-collapse:before,
.menu-collapse:after {
  display: table;
  content: " ";
}

.menu-collapse:after {
  clear: both;
}

.menu-collapse:before,
.menu-collapse:after {
  display: table;
  content: " ";
}

.menu-collapse:after {
  clear: both;
}

.menu-collapse.in {
  overflow-y: auto;
}

@media (min-width: 768px) {
  .menu-collapse {
    width: auto;
    border-top: 0;
    box-shadow: none;
  }
  .menu-collapse.collapse {
    display: block !important;
    height: auto !important;
    padding-bottom: 0;
    overflow: visible !important;
  }
  .menu-collapse.in {
    overflow-y: visible;
  }
  .menu-collapse .menu-nav.menu-left:first-child {
    margin-left: -15px;
  }
  .menu-collapse .menu-nav.menu-right:last-child {
    margin-right: -15px;
  }
  .menu-collapse .menu-text:last-child {
    margin-right: 0;
  }
}

.container > .menu-header,
.container > .menu-collapse {
  margin-right: -15px;
  margin-left: -15px;
}

@media (min-width: 768px) {
  .container > .menu-header,
  .container > .menu-collapse {
    margin-right: 0;
    margin-left: 0;
  }
}

.menu-static-top {
  border-width: 0 0 1px;
}

@media (min-width: 768px) {
  .menu-static-top {
    border-radius: 0;
  }
}

.menu-fixed-top,
.menu-fixed-bottom {
  position: fixed;
  right: 0;
  left: 0;
  border-width: 0 0 1px;
}

@media (min-width: 768px) {
  .menu-fixed-top,
  .menu-fixed-bottom {
    border-radius: 0;
  }
}

.menu-fixed-top {
  top: 0;
  z-index: 1030;
}

.menu-fixed-bottom {
  bottom: 0;
  margin-bottom: 0;
}

.menu-brand {
  float: left;
  padding: 15px 15px;
  font-size: 18px;
  line-height: 20px;
}

.menu-brand:hover,
.menu-brand:focus {
  text-decoration: none;
}

@media (min-width: 768px) {
  .menu > .container .menu-brand {
    margin-left: -15px;
  }
}

.menu-toggle {
  position: relative;
  float: right;
  padding: 9px 10px;
  margin-top: 8px;
  margin-right: 15px;
  margin-bottom: 8px;
  background-color: transparent;
  border: 1px solid transparent;
  border-radius: 4px;
}

.menu-toggle .icon-bar {
  display: block;
  width: 22px;
  height: 2px;
  border-radius: 1px;
}

.menu-toggle .icon-bar + .icon-bar {
  margin-top: 4px;
}

@media (min-width: 768px) {
  .menu-toggle {
    display: none;
  }
}

.menu-nav {
  margin: 7.5px -15px;
}

.menu-nav > li > a {
  padding-top: 10px;
  padding-bottom: 10px;
  line-height: 20px;
}

@media (max-width: 767px) {
  .menu-nav .open .dropdown-menu {
    position: static;
    float: none;
    width: auto;
    margin-top: 0;
    background-color: transparent;
    border: 0;
    box-shadow: none;
  }
  .menu-nav .open .dropdown-menu > li > a,
  .menu-nav .open .dropdown-menu .dropdown-header {
    padding: 5px 15px 5px 25px;
  }
  .menu-nav .open .dropdown-menu > li > a {
    line-height: 20px;
  }
  .menu-nav .open .dropdown-menu > li > a:hover,
  .menu-nav .open .dropdown-menu > li > a:focus {
    background-image: none;
  }
}

@media (min-width: 768px) {
  .menu-nav {
    float: left;
    margin: 0;
  }
  .menu-nav > li {
    float: left;
  }
  .menu-nav > li > a {
    padding-top: 15px;
    padding-bottom: 15px;
  }
}

@media (min-width: 768px) {
  .menu-left {
    float: left !important;
  }
  .menu-right {
    float: right !important;
  }
}

.menu-form {
  padding: 10px 15px;
  margin-top: 8px;
  margin-right: -15px;
  margin-bottom: 8px;
  margin-left: -15px;
  border-top: 1px solid transparent;
  border-bottom: 1px solid transparent;
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1), 0 1px 0 rgba(255, 255, 255, 0.1);
          box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1), 0 1px 0 rgba(255, 255, 255, 0.1);
}

@media (min-width: 768px) {
  .menu-form .form-group {
    display: inline-block;
    margin-bottom: 0;
    vertical-align: middle;
  }
  .menu-form .form-control {
    display: inline-block;
  }
  .menu-form .radio,
  .menu-form .checkbox {
    display: inline-block;
    padding-left: 0;
    margin-top: 0;
    margin-bottom: 0;
  }
  .menu-form .radio input[type="radio"],
  .menu-form .checkbox input[type="checkbox"] {
    float: none;
    margin-left: 0;
  }
}

@media (max-width: 767px) {
  .menu-form .form-group {
    margin-bottom: 5px;
  }
}

@media (min-width: 768px) {
  .menu-form {
    width: auto;
    padding-top: 0;
    padding-bottom: 0;
    margin-right: 0;
    margin-left: 0;
    border: 0;
    -webkit-box-shadow: none;
            box-shadow: none;
  }
}

.menu-nav > li > .dropdown-menu {
  margin-top: 0;
  border-top-right-radius: 0;
  border-top-left-radius: 0;
}

.menu-fixed-bottom .menu-nav > li > .dropdown-menu {
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.menu-nav.pull-right > li > .dropdown-menu,
.menu-nav > li > .dropdown-menu.pull-right {
  right: 0;
  left: auto;
}

.menu-btn {
  margin-top: 8px;
  margin-bottom: 8px;
}

.menu-text {
  float: left;
  margin-top: 15px;
  margin-bottom: 15px;
}

@media (min-width: 768px) {
  .menu-text {
    margin-right: 15px;
    margin-left: 15px;
  }
}

.menu-default {
  background-color: #f8f8f8;
  border-color: #e7e7e7;
}

.menu-default .menu-brand {
  color: #777777;
}

.menu-default .menu-brand:hover,
.menu-default .menu-brand:focus {
  color: #5e5e5e;
  background-color: transparent;
}

.menu-default .menu-text {
  color: #777777;
}

.menu-default .menu-nav > li > a {
  color: #777777;
}

.menu-default .menu-nav > li > a:hover,
.menu-default .menu-nav > li > a:focus {
  color: #333333;
  background-color: transparent;
}

.menu-default .menu-nav > .active > a,
.menu-default .menu-nav > .active > a:hover,
.menu-default .menu-nav > .active > a:focus {
  color: #555555;
  background-color: #e7e7e7;
}

.menu-default .menu-nav > .disabled > a,
.menu-default .menu-nav > .disabled > a:hover,
.menu-default .menu-nav > .disabled > a:focus {
  color: #cccccc;
  background-color: transparent;
}

.menu-default .menu-toggle {
  border-color: #dddddd;
}

.menu-default .menu-toggle:hover,
.menu-default .menu-toggle:focus {
  background-color: #dddddd;
}

.menu-default .menu-toggle .icon-bar {
  background-color: #cccccc;
}

.menu-default .menu-collapse,
.menu-default .menu-form {
  border-color: #e6e6e6;
}

.menu-default .menu-nav > .dropdown > a:hover .caret,
.menu-default .menu-nav > .dropdown > a:focus .caret {
  border-top-color: #333333;
  border-bottom-color: #333333;
}

.menu-default .menu-nav > .open > a,
.menu-default .menu-nav > .open > a:hover,
.menu-default .menu-nav > .open > a:focus {
  color: #555555;
  background-color: #e7e7e7;
}

.menu-default .menu-nav > .open > a .caret,
.menu-default .menu-nav > .open > a:hover .caret,
.menu-default .menu-nav > .open > a:focus .caret {
  border-top-color: #555555;
  border-bottom-color: #555555;
}

.menu-default .menu-nav > .dropdown > a .caret {
  border-top-color: #777777;
  border-bottom-color: #777777;
}

@media (max-width: 767px) {
  .menu-default .menu-nav .open .dropdown-menu > li > a {
    color: #777777;
  }
  .menu-default .menu-nav .open .dropdown-menu > li > a:hover,
  .menu-default .menu-nav .open .dropdown-menu > li > a:focus {
    color: #333333;
    background-color: transparent;
  }
  .menu-default .menu-nav .open .dropdown-menu > .active > a,
  .menu-default .menu-nav .open .dropdown-menu > .active > a:hover,
  .menu-default .menu-nav .open .dropdown-menu > .active > a:focus {
    color: #555555;
    background-color: #e7e7e7;
  }
  .menu-default .menu-nav .open .dropdown-menu > .disabled > a,
  .menu-default .menu-nav .open .dropdown-menu > .disabled > a:hover,
  .menu-default .menu-nav .open .dropdown-menu > .disabled > a:focus {
    color: #cccccc;
    background-color: transparent;
  }
}

.menu-default .menu-link {
  color: #777777;
}

.menu-default .menu-link:hover {
  color: #333333;
}

.menu-inverse {
  background-color: #222222;
  border-color: #080808;
}

.menu-inverse .menu-brand {
  color: #999999;
}

.menu-inverse .menu-brand:hover,
.menu-inverse .menu-brand:focus {
  color: #ffffff;
  background-color: transparent;
}

.menu-inverse .menu-text {
  color: #999999;
}

.menu-inverse .menu-nav > li > a {
  color: #999999;
}

.menu-inverse .menu-nav > li > a:hover,
.menu-inverse .menu-nav > li > a:focus {
  color: #ffffff;
  background-color: transparent;
}

.menu-inverse .menu-nav > .active > a,
.menu-inverse .menu-nav > .active > a:hover,
.menu-inverse .menu-nav > .active > a:focus {
  color: #ffffff;
  background-color: #080808;
}

.menu-inverse .menu-nav > .disabled > a,
.menu-inverse .menu-nav > .disabled > a:hover,
.menu-inverse .menu-nav > .disabled > a:focus {
  color: #444444;
  background-color: transparent;
}

.menu-inverse .menu-toggle {
  border-color: #333333;
}

.menu-inverse .menu-toggle:hover,
.menu-inverse .menu-toggle:focus {
  background-color: #333333;
}

.menu-inverse .menu-toggle .icon-bar {
  background-color: #ffffff;
}

.menu-inverse .menu-collapse,
.menu-inverse .menu-form {
  border-color: #101010;
}

.menu-inverse .menu-nav > .open > a,
.menu-inverse .menu-nav > .open > a:hover,
.menu-inverse .menu-nav > .open > a:focus {
  color: #ffffff;
  background-color: #080808;
}

.menu-inverse .menu-nav > .dropdown > a:hover .caret {
  border-top-color: #ffffff;
  border-bottom-color: #ffffff;
}

.menu-inverse .menu-nav > .dropdown > a .caret {
  border-top-color: #999999;
  border-bottom-color: #999999;
}

.menu-inverse .menu-nav > .open > a .caret,
.menu-inverse .menu-nav > .open > a:hover .caret,
.menu-inverse .menu-nav > .open > a:focus .caret {
  border-top-color: #ffffff;
  border-bottom-color: #ffffff;
}

@media (max-width: 767px) {
  .menu-inverse .menu-nav .open .dropdown-menu > .dropdown-header {
    border-color: #080808;
  }
  .menu-inverse .menu-nav .open .dropdown-menu > li > a {
    color: #999999;
  }
  .menu-inverse .menu-nav .open .dropdown-menu > li > a:hover,
  .menu-inverse .menu-nav .open .dropdown-menu > li > a:focus {
    color: #ffffff;
    background-color: transparent;
  }
  .menu-inverse .menu-nav .open .dropdown-menu > .active > a,
  .menu-inverse .menu-nav .open .dropdown-menu > .active > a:hover,
  .menu-inverse .menu-nav .open .dropdown-menu > .active > a:focus {
    color: #ffffff;
    background-color: #080808;
  }
  .menu-inverse .menu-nav .open .dropdown-menu > .disabled > a,
  .menu-inverse .menu-nav .open .dropdown-menu > .disabled > a:hover,
  .menu-inverse .menu-nav .open .dropdown-menu > .disabled > a:focus {
    color: #444444;
    background-color: transparent;
  }
}

.menu-inverse .menu-link {
  color: #999999;
}

.menu-inverse .menu-link:hover {
  color: #ffffff;
}

.notification {
	position:fixed;
	width:300px;
	left:50%;
	background:#fff;
	margin-left:-150px;
	margin-top:20px;
	border-radius:10px;
	border:10px solid rgba(0,0,0,0.5);
	-moz-background-clip: padding;     /* Firefox 3.6 */
	-webkit-background-clip: padding;  /* Safari 4? Chrome 6? */
	background-clip: padding-box;
	padding-bottom:15px;
}

.notification h2 {
	padding:15px;
	background: #f73d2c; /* Old browsers */
	background: -moz-linear-gradient(top, #f73d2c 0%, #d61100 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f73d2c), color-stop(100%,#d61100)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #f73d2c 0%,#d61100 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #f73d2c 0%,#d61100 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #f73d2c 0%,#d61100 100%); /* IE10+ */
	background: linear-gradient(to bottom, #f73d2c 0%,#d61100 100%); /* W3C */
	color:#fff;
	border-top:1px solid #FFAFAF;
	border-bottom:1px solid #AD0000;
	text-shadow:0 1px 0 #AD0000;
	font-weight:bold;
	font-size:1.2em;
}

.notification p {
	padding:15px 15px 0;
	color:#333;
}

.notification .close, form .submit {
	background:#13c562;
	cursor:pointer;
	border:1px solid #35a940;
	text-shadow:1px 1px 0 #35a940;
	cursor: pointer;
	display:block;
	color:#fff;
	text-decoration:none;
	padding:5px;
	text-align:center;
	border-radius:5px;
	width:100px;
	margin:0 auto;
	box-shadow:inset 0 1px 0 #7bffb6;
}

/*--------------------------------
		 CSS DIV tables
---------------------------------*/
.container{
    display:table;
    width:100%;
    border-collapse: collapse;
    }
.heading {
     font-weight: bold;
     display:table-row;
     background-color:#336699;
     text-align: left;
     line-height: 25px;
     font-size: 14px;
     font-family:arial;
     color:#fff;
    
}
.table-row{  
     display:table-row;
     text-align: right;
}
.col{
    display:table-cell;
    border: 1px solid #CCC;
	padding:0 0 0 5px;
}
.colh{
    display:table-cell;
    border: 1px solid #CCC;
	padding:0 0 0 5px;
	text-align: center;
}