	/* http://meyerweb.com/eric/tools/css/reset/ 
	   v2.0 | 20110126
	   License: none (public domain)
	*/

	html, body, div, span, applet, object, iframe,
	h1, h2, h3, h4, h5, h6, p, blockquote, pre,
	a, abbr, acronym, address, big, cite, code,
	del, dfn, em, img, ins, kbd, q, s, samp,
	small, strike, strong, sub, sup, tt, var,
	b, u, i, center,
	dl, dt, dd, ol, ul, li,
	fieldset, form, label, legend,
	table, caption, tbody, tfoot, thead, tr, th, td,
	article, aside, canvas, details, embed, 
	figure, figcaption, footer, header, hgroup, 
	menu, nav, output, ruby, section, summary,
	time, mark, audio, video {
		margin: 0;
		padding: 0;
		border: 0;
		font-size: 100%;
		font: inherit;
		vertical-align: baseline;
	}
	/* HTML5 display-role reset for older browsers */
	article, aside, details, figcaption, figure, 
	footer, header, hgroup, menu, nav, section {
		display: block;
	}
	body {
		line-height: 1;
	}
	ol, ul {
		list-style: none;
	}
	blockquote, q {
		quotes: none;
	}
	blockquote:before, blockquote:after,
	q:before, q:after {
		content: '';
		content: none;
	}
	table {
		border-collapse: collapse;
		border-spacing: 0;
	}
	
	/* #Clearing
	================================================== */

	    /* Self Clearing Goodness */
	    .container:after { content: "\0020"; display: block; height: 0; clear: both; visibility: hidden; }

	    /* Use clearfix class on parent to clear nested columns,
	    or wrap each row of columns in a <div class="row"> */
	    .clearfix:before,
	    .clearfix:after,
	    .row:before,
	    .row:after {
	      content: '\0020';
	      display: block;
	      overflow: hidden;
	      visibility: hidden;
	      width: 0;
	      height: 0; }
	    .row:after,
	    .clearfix:after {
	      clear: both; }
	    .row,
	    .clearfix {
	      zoom: 1; }

	    /* You can also use a <br class="clear" /> to clear columns */
	    .clear {
	      clear: both;
	      display: block;
	      overflow: hidden;
	      visibility: hidden;
	      width: 0;
	      height: 0;
	    }



		/* ==========================================
			The Basics
		   ========================================== */
		body { padding: 20px 30px; }

		a {
			color: #2581bc;
			text-decoration: none;
		}
			a:hover {
				color: #2c3e50;
				text-decoration: none;
			}

		hr {
		  border: 0;
		  margin: 1.35em auto;
		  max-width: 100%;
		  background-position: 50%;
		  box-sizing: border-box;
		  height: 8px;
		  background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="3px" height="3px" viewBox="0 0 3 3" fill="hsla(0, 0%, 75%, 1.0)"><polygon points="0,0.5 0,1.5 1.5,3 2.5,3"/><polygon points="2.5,0 1.5,0 3,1.5 3,0.5"/></svg>');
		  background-size: 3px 3px;
		}

		img {
		    max-width: 100%;
		    height: auto;
		    vertical-align: middle;
		    border: 0;
		    -ms-interpolation-mode: bicubic;
		}
		img.imgFrame {
			border: 6px solid #f0f0f0;
		    box-shadow: 0 1px 2px #999999;
		}

		.textCenter { text-align: center; }
		.textRight { text-align: right; font-size: 1.4em; color: #2581bc}
		.paddingLeft { padding-left: 10px; }

		.floatRight { float: right; }
		
		sub,
		sup {
		font-size: 75%;
		line-height: 0;
		position: relative;
		vertical-align: baseline;
		}
		sup {
		top: -0.5em;
		}
		sub {
		bottom: -0.25em;
		}
		
		/* ==========================================
			Bootstrap Overwrites
		   ========================================== */		
		body {
		    background:  #f2f2f2;
		    color: #444444;
		    font-family: "Open Sans",sans-serif;
		    font-size: 14px;
		    line-height: 1.42857;
		}

		h1, h2, h3, h4, h5, h6,
		.h1, .h2, .h3, .h4, .h5, .h6 {
		  font-family: "Open Sans", sans-serif;
		  color: #999999;
		  line-height: 1.1;
		  padding: 2px 0;
		  margin-top: 10px;
		  margin-bottom: 20px;
		}
			h3.default {
				background: #f8f8f8;
				padding: 5px 10px 5px 10px;
				color: #2c3e50;
				border-left: 5px solid #474949;
				font-size: 20px;
				text-transform: uppercase;
			}
			h3.primary {
				background: #f8f8f8;
				padding: 5px 10px 5px 10px;
				color: #2c3e50;
				border-left: 5px solid #428bca;
				font-size: 20px;
				text-transform: uppercase;
			}
			h3.info {
				background: #f8f8f8;
				padding: 5px 10px 5px 10px;
				color: #2c3e50;
				border-left: 5px solid #5bc0de;
				font-size: 20px;
				text-transform: uppercase;
			}
			h3.success {
				background: #f8f8f8;
				padding: 5px 10px 5px 10px;
				color: #2c3e50;
				border-left: 5px solid #5cb85c;
				font-size: 20px;
				text-transform: uppercase;
			}
			h3.warning {
				background: #f8f8f8;
				padding: 5px 10px 5px 10px;
				color: #2c3e50;
				border-left: 5px solid #f0ad4e;
				font-size: 20px;
				text-transform: uppercase;
			}
			h3.danger {
				background: #f8f8f8;
				padding: 5px 10px 5px 10px;
				color: #2c3e50;
				border-left: 5px solid #d9534f;
				font-size: 20px;
				text-transform: uppercase;
			}

			h5 { margin-top: 0; }
			h4.default, h5.default {
				background: #f8f8f8;
				padding: 3px 8px 3px 10px;
				color: #2c3e50;
				border-left: 3px solid #474949;
				font-size: 18px;
			}
			h4.primary, h5.primary {
				background: #f8f8f8;
				padding: 3px 8px 3px 10px;
				color: #2c3e50;
				border-left: 3px solid #428bca;
				font-size: 18px;
			}
			h4.info, h5.info {
				background: #f8f8f8;
				padding: 3px 8px 3px 10px;
				color: #2c3e50;
				border-left: 3px solid #5bc0de;
				font-size: 18px;
			}
			h4.success, h5.success {
				background: #f8f8f8;
				padding: 3px 8px 3px 10px;
				color: #2c3e50;
				border-left: 3px solid #5cb85c;
				font-size: 18px;
			}
			h4.warning, h5.warning {
				background: #f8f8f8;
				padding: 3px 8px 3px 10px;
				color: #2c3e50;
				border-left: 3px solid #f0ad4e;
				font-size: 18px;
			}
			h4.danger, h5.danger {
				background: #f8f8f8;
				padding: 3px 8px 3px 10px;
				color: #2c3e50;
				border-left: 3px solid #d9534f;
				font-size: 18px;
			}

		p { margin: 10px 0; }

		.lead { 
		//	margin-bottom: 0; 
			margin-bottom: 20px;
			font-size: 16.099999999999998px;
			font-weight: 200;
			 line-height: 1.4;
			}
		.accountLevel { color: #999; font-size: 70%; }
		.welcomeMsg { margin-top: 0; }


		/* ==========================================
			Container/Content
		   ========================================== */
		.container {
			max-width: 1250px;
		    margin-left: auto;
		    margin-right: auto;
		    padding-left: 0;
		    padding-right: 0;
		}

		.container .content {
		    padding: 30px;
			border-radius: 0;
			background-color: #ffffff;
		    color: #999;
		    font-size: 1.2em;
		    font-weight: 200;
		    line-height: 1.4;
		    margin-bottom: 30px;
		}
		/* ==========================================
			Grid
		   ========================================== */
		@media (max-width: 1000px) {
			.col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6,
			.col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12,
			.col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6,
			.col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12,
			.col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6,
			.col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12,
			.col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6,
			.col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12 {
				clear: both;
			}
		}


		/* ==========================================
			Forms
		   ========================================== */
		.form-control {
		  display: block;
		  width: 100%;
		  height: 34px;
		  padding: 6px 12px !important 6px 12px;
		  font-size: 14px;
		  line-height: 1.428571429;
		  color: #555555;
		  vertical-align: middle;
		  background-color: #ffffff;
		  border: 1px solid #cccccc;
		  border-radius: 0;
		  -webkit-box-shadow: none;
		          box-shadow: none;
		  -webkit-transition: none;
		          transition: none;
		}
			.form-control:focus {
			  border-color: #66afe9;
			  outline: 0;
			  -webkit-box-shadow: none;
					  box-shadow: none;
			}

		.form-group-modal { margin-bottom: 0; }

		input:-webkit-autofill {
		    -webkit-box-shadow: 0 0 0px 1000px white inset;
		}

		.input-group-addon {
		  font-size: 12px;
		  font-weight: normal;
		  line-height: 1;
		  text-align: center;
		  background-color: #fff;
		  border: 1px solid #cccccc;
		  border-radius: 0;
		}
			.input-group-addon.input-sm {
			  padding: 5px 10px;
			  font-size: 12px;
			  border-radius: 0;
			}
			.input-group-addon.input-lg {
			  padding: 10px 16px;
			  font-size: 18px;
			  border-radius: 0;
			}
			.input-group-addon { vertical-align: none; }

		label {
		    display: inline-block;
		    font-weight: normal;
		    margin-bottom: 5px;
		}

		.fieldIns {
		    color: #999999;
		    float: right;
		    font-size: 13px;
		    margin-right: 0.25em;
		}

		.help-block {
		  display: block;
		  margin-top: 5px;
		  margin-bottom: 6px;
		  color: #999999;
		  font-size: 13px;
		}

		.highlightField {
		    border-color: #C09853;
		    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
		}
		
		
		/* ==========================================
			Buttons
		   ========================================== */
		.btn {
		  display: inline-block;
		  padding: 6px 12px;
		  margin-bottom: 0;
		  font-size: 14px;
		  font-weight: normal;
		  line-height: 1.428571429;
		  text-align: center;
		  white-space: nowrap;
		  vertical-align: middle;
		  cursor: pointer;
		  border: 1px solid transparent;
		  border-radius: 0;
		  -webkit-user-select: none;
		     -moz-user-select: none;
		      -ms-user-select: none;
		       -o-user-select: none;
		          user-select: none;
		}

		.btn-icon i { margin-right: 6px; }
		.btn-icon-alt i { margin-left: 6px; }

		.btn-link:hover, .btn-link:focus {
		  color: #2a6496;
		  text-decoration: none;
		  background-color: transparent;
		}

		.btn-default {
		  color: #2581bc;
		  background-color: #fafafa;
		  border-color: #e7e7e7;
		}
			.btn-default:hover, .btn-default:focus, .btn-default:active, .btn-default.active, .open .dropdown-toggle.btn-default {
			  color: #333333;
			  background-color: #ebebeb;
			  border-color: #adadad;
			}
			.btn-default:active, .btn-default.active, .open .dropdown-toggle.btn-default {
			  background-image: none;
			}

		.btn-primary {
		  color: #ffffff;
		  background-color: #428bca;
		  border-color: #357ebd;
		}
			.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open .dropdown-toggle.btn-primary {
			  color: #ffffff;
			  background-color: #3276b1;
			  border-color: #285e8e;
			}
			.btn-primary:active, .btn-primary.active, .open .dropdown-toggle.btn-primary {
			  background-image: none;
			}

		.btn-warning {
		  color: #ffffff;
		  background-color: #f0ad4e;
		  border-color: #eea236;
		}
			.btn-warning:hover, .btn-warning:focus, .btn-warning:active, .btn-warning.active, .open .dropdown-toggle.btn-warning {
			  color: #ffffff;
			  background-color: #ed9c28;
			  border-color: #d58512;
			}
			.btn-warning:active, .btn-warning.active, .open .dropdown-toggle.btn-warning {
			  background-image: none;
			}

		.btn-danger {
		  color: #ffffff;
		  background-color: #d9534f;
		  border-color: #d43f3a;
		}
			.btn-danger:hover, .btn-danger:focus, .btn-danger:active, .btn-danger.active, .open .dropdown-toggle.btn-danger {
			  color: #ffffff;
			  background-color: #d2322d;
			  border-color: #ac2925;
			}
			.btn-danger:active, .btn-danger.active, .open .dropdown-toggle.btn-danger {
			  background-image: none;
			}

		.btn-success {
		  color: #ffffff;
		  background-color: #336699;
		  border-color: #3e5974;
		}
			.btn-success:hover, .btn-success:focus, .btn-success:active, .btn-success.active, .open .dropdown-toggle.btn-success {
			  color: #ffffff;
			  background-color: #3870a8;
			  border-color: #7696b6;
			}
			.btn-success:active, .btn-success.active, .open .dropdown-toggle.btn-success {
			  background-image: none;
			}

		.btn-info {
		  color: #ffffff;
		  background-color: #5bc0de;
		  border-color: #46b8da;
		}
			.btn-info:hover, .btn-info:focus, .btn-info:active, .btn-info.active, .open .dropdown-toggle.btn-info {
			  color: #ffffff;
			  background-color: #39b3d7;
			  border-color: #269abc;
			}
			.btn-info:active, .btn-info.active, .open .dropdown-toggle.btn-info {
			  background-image: none;
			}

		.btn-link {
		    border-radius: 0 0 0 0;
		    color: #2581bc;
		    cursor: pointer;
			font-size: 13px;
		    font-weight: normal;
			padding: 0;
		}
			.btn-link:hover, .btn-link:focus {
			  color: #555555;
			  text-decoration: none;
			  background-color: transparent;
			}

		.btn-lg {
		  padding: 10px 16px;
		  font-size: 18px;
		  line-height: 1.33;
		  border-radius: 0;
		}

		.btn-sm, .btn-xs, .btn-form {
		  padding: 5px 10px;
		  font-size: 12px;
		  line-height: 1.5;
		  border-radius: 0;
		}
			.btn-xs { padding: 1px 5px; 	}
			.btn-form {
				padding: 0;
				color: #d9534f;
				background-color: transparent;
			}

		.btn-dd .caret { margin-left: 6px; }
		
		.btn-back {
			margin: 0 0 20px 20px;
		}

		/* ==========================================
			Labels
		   ========================================== */
		.label {
		  display: inline;
		  padding: .2em .6em .3em;
		  font-size: 75%;
		  font-weight: normal;
		  line-height: 1;
		  color: #ffffff;
		  text-align: center;
		  white-space: nowrap;
		  vertical-align: baseline;
		  border-radius: 0;
		}
		
		
		/*
		 * Navigataur: A pure CSS responsive navigation menu
		 * Author: Mike King (@micjamking)
		 */

		/*
		 	Notes:

		 	- Media queries should be edited in both style sections if you require 
			  a different breakpoint for your navigation.

			- Toggle class & menu anchor tags in list items have box-sizing: border-box 
			  style property to allow padding inside the container without conflicting with layout.	

		*/


		/*--------------------------------
		 Functional Styles (Required)
		---------------------------------*/

		.header { position: relative; }
		#toggle, .toggle { display: none; }
		.menu > li { list-style: none; float:left;	}

		/* Nicolas Gallagher micro clearfix */
		.clearfix:before, .clearfix:after { display: table; content: ""; }
		.clearfix:after { clear: both; }

		@media only screen and (max-width: 768px){
			.menu { display: none; opacity: 0; width: 100%; position: absolute; right: 0; }
			.menu > li { display: block; width: 100%; margin: 0; }
			.menu > li > a { display: block; width: 100%; text-decoration: none; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }
			.toggle { display: block; position: relative; cursor: pointer; -webkit-touch-callout: none; -webkit-user-select: none; user-select: none; }
			#toggle:checked + div .menu { display: block; opacity: 1;}
		}


		/*--------------------------------
		 Presentation Styles (Editable)
		---------------------------------*/
		.header{
			min-height: 100px;
			height: 100%;
			padding: 0 20px;
			background: #FFFFFF;
		}

		.header > h1 {
			float: left;
			padding: 30px 0 0;		
			font-style: italic;
			font-family: "Open Sans", sans-serif;
			font-size: 28px;
			color: #DFDFDF;
		}

		.nav{ 
			display: block; 
			float: left; 
		}

		.nav, .menu, .menu > li, .menu > li > a{ 
			height: 100%; 
		}

		.menu > li > a{
			display: block;
			padding: 42px 20px;
			text-decoration: none;
			font-weight: normal;
			font-size: 16px;
			line-height: 1;
			-webkit-box-sizing: border-box;
			-moz-box-sizing: border-box; 
			box-sizing: border-box;
			-webkit-transition: all 0.25s linear;
			-moz-transition: all 0.25s linear;
			-o-transition: all 0.25s linear;
			transition: all 0.25s linear;
		}

		.menu > li > a:hover, .menu > li > a:focus{
			background: #F2F2F2;
			box-shadow: inset 0px 5px #2581bc;
			color: #2581bc;
			padding: 50px 20px 34px;
		}

		.toggle{ 
			z-index: 2; 
		}

		@media only screen and (max-width: 768px){
			.menu{
				background: #FFFFFF;
				border-top: 1px solid #2581bc;
			}

			.menu, .menu > li, .menu > li > a{
				height: auto;
			}

			.menu > li > a{
				padding: 15px 15px;
			}

			.menu > li > a:hover, .menu > li > a:focus{
				background: #F2F2F2;
				box-shadow: inset 5px 0px #2581bc;
				padding: 15px 15px 15px 25px;
			}

			.toggle:after {
				content: attr(data-open);
				display: block;
				width: 200px;
				margin: 33px 0;
				padding: 10px 50px;
				background: #2581bc;
				-webkit-border-radius: 2px;
				border-radius: 2px;
				text-align: center;
				font-size: 12px;
				color: #FFFFFF;
				-webkit-transition: all 0.5s linear;
				-moz-transition: all 0.5s linear;
				-o-transition: all 0.5s linear;
				transition: all 0.5s linear;
				-webkit-box-sizing: border-box;
				-moz-box-sizing: border-box;
				box-sizing: border-box; 
			}

			.toggle:hover:after{
				background: #45ABD6;
			}

			#toggle:checked + div .toggle:after{
				content: attr(data-close);
			}
		}

		@media only screen and (max-width: 479px){
			.header > h1 { 
				text-align: center;
			}
			.header > h1, .nav, .toggle:after{ 
				float: none; 
			}
			.toggle:after { 
				text-align: center; width: 100%; 
			}
		}
		
		
		/* 
		TABLE
		Max width before this PARTICULAR table gets nasty
		This query will take effect for any screen smaller than 760px
		and also iPads specifically.
		*/
		@media 
		only screen and (max-width: 760px),
		(min-device-width: 768px) and (max-device-width: 1024px)  {

			/* Force table to not be like tables anymore */
			table, thead, tbody, th, td, tr { 
				display: block; 
			}

			/* Hide table headers (but not display: none;, for accessibility) */
			thead tr { 
				position: absolute;
				top: -9999px;
				left: -9999px;
			}

			tr { border: 1px solid #ccc; }

			td { 
				/* Behave  like a "row" */
				border: none;
				border-bottom: 1px solid #eee; 
				position: relative;
				padding-left: 50%; 
			}

			td:before { 
				/* Now like a table header */
				position: absolute;
				/* Top/left values mimic padding */
				top: 6px;
				left: 6px;
				width: 45%; 
				padding-right: 10px; 
				white-space: nowrap;
			}

			/*
			Label the data
			*/
			th:nth-of-type(1):before { content: "ID"; }
			th:nth-of-type(2):before { content: "Emelet"; }
			th:nth-of-type(3):before { content: "Ajtó"; }
			th:nth-of-type(4):before { content: "Terület"; }
			th:nth-of-type(5):before { content: "Lakók"; }
			th:nth-of-type(6):before { content: "Megjegyzés"; }
			th:nth-of-type(7):before { content: "Módosítás"; }
		}

		/* Smartphones (portrait and landscape) ----------- */
		@media only screen
		and (min-device-width : 320px)
		and (max-device-width : 480px) {
			body { 
				padding: 0; 
				margin: 0; 
				width: 320px; }
			}

		/* iPads (portrait and landscape) ----------- */
		@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
			body { 
				width: 495px; 
			}
		}
		
		* { 
			margin: 0; 
			padding: 0; 
		}
		body { 
			font: 14px/1.4 "Open Sans",sans-serif; 
		}
		#page-wrap {
			margin: 50px;
		}
		p {
			margin: 20px 0; 
		}

			/* 
			Generic Styling, for Desktops/Laptops 
			*/
			table { 
				width: 100%; 
				border-collapse: collapse; 
			}
			/* Zebra striping */
			tr:nth-of-type(odd) { 
				background: #f2f2f2; 
			}
			th { 
				background: #336699; 
				color: white !important;
				font-size: 0.8em; 
				//font-weight: bold; 
			}
			td, th { 
				padding: 6px; 
				border: 1px solid #ccc;
				font-size: 0.8em;
				color: #666666; 
				text-align: left; 
			}		





			.modal-open {
			  overflow: hidden;
			}

			body.modal-open,
			.modal-open .navbar-fixed-top,
			.modal-open .navbar-fixed-bottom {
			//  margin-right: 15px;
			}

			.modal {
			  position: fixed;
			  top: 0;
			  right: 0;
			  bottom: 0;
			  left: 0;
			  z-index: 1040;
			  display: none;
			  overflow: auto;
			  overflow-y: scroll;
			}

			.modal.fade .modal-dialog {
			  -webkit-transform: translate(0, -25%);
			      -ms-transform: translate(0, -25%);
			          transform: translate(0, -25%);
			  -webkit-transition: -webkit-transform 0.3s ease-out;
			     -moz-transition: -moz-transform 0.3s ease-out;
			       -o-transition: -o-transform 0.3s ease-out;
			          transition: transform 0.3s ease-out;
			}

			.modal.in .modal-dialog {
			  -webkit-transform: translate(0, 0);
			      -ms-transform: translate(0, 0);
			          transform: translate(0, 0);
			}

			.modal-dialog {
			  z-index: 1050;
			  width: auto;
			  padding: 10px;
			  margin-right: auto;
			  margin-left: auto;
			}

			.modal-content {
			  position: relative;
			  background-color: #ffffff;
			  border: 1px solid #999999;
			  border: 1px solid rgba(0, 0, 0, 0.2);
			  border-radius: 6px;
			  outline: none;
			  -webkit-box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
			          box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
			  background-clip: padding-box;
			}

			.modal-backdrop {
			  position: fixed;
			  top: 0;
			  right: 0;
			  bottom: 0;
			  left: 0;
			  z-index: 1030;
			  background-color: #000000;
			}

			.modal-backdrop.fade {
			  opacity: 0;
			  filter: alpha(opacity=0);
			}

			.modal-backdrop.in {
			  opacity: 0.5;
			  filter: alpha(opacity=50);
			}

			.modal-header {
			  min-height: 16.428571429px;
			  padding: 15px;
			  border-bottom: 1px solid #e5e5e5;
			}

			.modal-header .close {
			  margin-top: -2px;
			}

			.modal-title {
			  margin: 0;
			  line-height: 1.428571429;
			}

			.modal-body {
			  position: relative;
			  padding: 20px;
			}

			.modal-footer {
			  padding: 19px 20px 20px;
			  margin-top: 15px;
			  text-align: right;
			  border-top: 1px solid #e5e5e5;
			}

			.modal-footer:before,
			.modal-footer:after {
			  display: table;
			  content: " ";
			}

			.modal-footer:after {
			  clear: both;
			}

			.modal-footer:before,
			.modal-footer:after {
			  display: table;
			  content: " ";
			}

			.modal-footer:after {
			  clear: both;
			}

			.modal-footer .btn + .btn {
			  margin-bottom: 0;
			  margin-left: 5px;
			}

			.modal-footer .btn-group .btn + .btn {
			  margin-left: -1px;
			}

			.modal-footer .btn-block + .btn-block {
			  margin-left: 0;
			}

			@media screen and (min-width: 768px) {
			  .modal-dialog {
			    right: auto;
			    left: 50%;
			    width: 600px;
			    padding-top: 30px;
			    padding-bottom: 30px;
			  }
			  .modal-content {
			    -webkit-box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
			            box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
			  }
			}
			button.close {
			  padding: 0;
			  cursor: pointer;
			  background: transparent;
			  border: 0;
			  color:white;
			  -webkit-appearance: none;
			}
			
/*
2 oszlopos formok
*/
#contactform{
width: 100%;
font-size: 14px; /* Primary font size of form. Contained elements' font size are all relative to this setting */
}

#contactform input, #contactform textarea{
//width: 98%;
width: 48%;
//border-radius: 5px;
border: 1px solid #336699;
font: normal 1.1em auto; /* 24px, or 16px x 1.5 */
padding: 0.4166666666666667em; /* 10px, or 24px x 0.4166666666666667 */
box-shadow: 0 0 1px #336699 inset;
height: 1.7em;
-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
box-sizing: border-box;
}

#contactform textarea{
resize:vertical; /* allow vertical resize of textarea */
height: 200px;
}


#contactform input:focus, #contactform textarea:focus{
box-shadow: 0 0 2px #336699 inset;
}


#contactform input[type="radio"], #contactform input[type="checkbox"]{
padding: 0;
width: auto;
height: auto;
border-radius: 0;
}

#contactform select{
width: 80%;
font-size: 1.5em;
border: 2px solid #eee;
}

#contactform .formcolumn{ /* column div inside form */
width: 49%;
float: left;
}

#contactform .formcolumn:first-of-type{
margin-right: 2%; /* 2% margin after first column */
}

#contactform .formcolumn label, #contactform .formcolumn fieldset{
font: bold 1.1em "Open Sans",sans-serif; /* font size is 12.8px, or 16 x 0.8 */
//text-transform: uppercase;
display: block;
margin-top: 1em;
margin-bottom: 3px;
}

#contactform fieldset{
width: 98%;
-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
box-sizing: border-box;
}

#contactform .formcolumn label:first-child, #contactform .formcolumn fieldset:first-child{
margin-top: 0; /* first label or fieldset within each column should not no top margin */
}

#contactform fieldset ul{
list-type: none;
margin: 0;
padding: 0;
}

#contactform fieldset ul li{
display: inline-block;
margin-bottom: 5px;
margin-right: 1em;
}

#contactform div.buttons{
clear: both;
text-align: left;
padding: 30px 0 15px 0;
}

#contactform input.button{
margin-top: 1.5EM;
width: 50%;
box-shadow: 0 0 10px gray;
text-transform: uppercase;
cursor: pointer;
min-width: 100px;
max-width: 600px;
color: white;
font-weight: bold;
letter-spacing: 7px;
text-shadow: 0 -2px 1px #8a8a8a;
background: rgb(169,3,41);
background: -moz-linear-gradient(top,  rgba(169,3,41,1) 0%, rgba(143,2,34,1) 44%, rgba(109,0,25,1) 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(169,3,41,1)), color-stop(44%,rgba(143,2,34,1)), color-stop(100%,rgba(109,0,25,1)));
background: -webkit-linear-gradient(top,  rgba(169,3,41,1) 0%,rgba(143,2,34,1) 44%,rgba(109,0,25,1) 100%);
background: -o-linear-gradient(top,  rgba(169,3,41,1) 0%,rgba(143,2,34,1) 44%,rgba(109,0,25,1) 100%);
background: -ms-linear-gradient(top,  rgba(169,3,41,1) 0%,rgba(143,2,34,1) 44%,rgba(109,0,25,1) 100%);
background: linear-gradient(to bottom,  rgba(169,3,41,1) 0%,rgba(143,2,34,1) 44%,rgba(109,0,25,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a90329', endColorstr='#6d0019',GradientType=0 );
}

#contactform input.button:active{
text-shadow: 0 0 1px #8a8a8a;
background: rgb(109,0,25);
background: -moz-linear-gradient(top,  rgba(109,0,25,1) 0%, rgba(143,2,34,1) 56%, rgba(169,3,41,1) 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(109,0,25,1)), color-stop(56%,rgba(143,2,34,1)), color-stop(100%,rgba(169,3,41,1)));
background: -webkit-linear-gradient(top,  rgba(109,0,25,1) 0%,rgba(143,2,34,1) 56%,rgba(169,3,41,1) 100%);
background: -o-linear-gradient(top,  rgba(109,0,25,1) 0%,rgba(143,2,34,1) 56%,rgba(169,3,41,1) 100%);
background: -ms-linear-gradient(top,  rgba(109,0,25,1) 0%,rgba(143,2,34,1) 56%,rgba(169,3,41,1) 100%);
background: linear-gradient(to bottom,  rgba(109,0,25,1) 0%,rgba(143,2,34,1) 56%,rgba(169,3,41,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6d0019', endColorstr='#a90329',GradientType=0 );
}

@media screen and (max-width: 480px){ /* responsive form settings, when window width is 480px or less */

    #contactform{
	font-size: 14px; /* decrease form font size */
	}

	#contactform .formcolumn{
	width: 100%;
	float: none;
	}
	
	#contactform .formcolumn:first-of-type{
	margin-right: 0; /* remove right margin from first form column */
	}

	#contactform .formcolumn:nth-of-type(2){
	padding-top: 2em; /* add padding to top of 2nd form column, so there is a gap between the 1st and 2nd column */
	}

	#contactform select{
	width: 98%;
	}

}